body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 16px;
    margin: 1em;
}

a {
    color: inherit;
    text-decoration: underline dotted 1px;
}

table {
    border-collapse: collapse;
}

tr:nth-child(2n) {
    background-color: #00000008;
}

td, th {
    padding: 2px 1em;
}

td.align-right, th.align-right {
    text-align: right;
}

th {
    text-align: inherit;
    font-weight: inherit;
    text-decoration: underline solid 1px;
    white-space: nowrap;
}

td.normal-wrap {
    word-break: break-all;
}

td:not(.normal-wrap) {
    white-space: nowrap;
}

footer {
    font-size: 14px;
    margin-top: 16px;
}

footer div {
    margin-top: 4px;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1em;
    margin: 0 auto;
    max-width: 1000px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    gap: 1em;
}

.title__last-update {
    color: #aaa;
    font-size: 12px;
    padding: 3px 6px;
    border: 1px solid #aaa;
    border-radius: 100px;
}

.section {
    margin-top: 1.5em;
}

.section__title {
    font-weight: bold;
    margin-bottom: 1em;
}

.locale-menu {
    border-left: 1px solid black;
    padding-left: 1em;
}

.locale-menu__button {
	all: unset;
	cursor: pointer;
	font-size: 14px;
	margin-top: 16px;
	text-decoration: underline dotted 1px;
}

.locale-menu__title {
    font-weight: bold;
    margin-bottom: 1em;
}

.locale-menu__item {
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    margin-top: 4px;
    text-decoration: none;
}

.locale-menu__item--hidden {
	display: none;
}

.icon {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.icon-with-label {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.problem-count {
    color: hsl(calc(var(--count) / 560 * -120deg + 120deg), 70%, 50%);
    font-weight: bold;
}
