body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 16px;
    margin: 1em;
}

a {
    color: inherit;
    text-decoration: underline dotted 1px;
}

table {
    border-spacing: 1em 2px;
}

th {
    text-align: inherit;
    font-weight: inherit;
    text-decoration: underline solid 1px;
    white-space: nowrap;
}

td:not(.normal-wrap) {
    white-space: nowrap;
}

footer {
    font-size: 14px;
    margin-top: 16px;
}

footer div {
    margin-top: 4px;
}

.page-grid {
    display: grid;
    grid-template-columns: 780px 220px;
    gap: 1em;
    margin: 0 auto;
    width: calc(1000px + 1em);
}

.title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.title__last-update {
    color: #aaa;
    font-size: 12px;
    margin-left: 1em;
    padding: 3px 6px;
    border: 1px solid #aaa;
    border-radius: 100px;
}

.section {
    margin-top: 1.5em;
}

.section__empty-message {
    margin-left: 1em;
}

.section__title {
    font-weight: bold;
    margin-bottom: 1em;
}

.locale-menu {
    border-left: 1px solid black;
    padding-left: 1em;
}

.locale-menu__title {
    font-weight: bold;
    margin-bottom: 1em;
}

.locale-menu__item {
    display: flex;
    align-items: center;
    margin-top: 4px;
    text-decoration: none;
}

.flag {
    margin-right: 0.25em;
}

.problem-count {
    font-weight: bold;
    margin-left: auto;
}
